
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

form input {
    display: block;
}

form label {
    margin-bottom: 8px;
}

form textarea {
    width: 100%;
    resize: vertical;
    display: block;
}

